version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    container_name: shortlink-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shortlink
    ports:
      - "5433:5432"
    volumes:
      - D:/RIKYDWIANTO/002. RIKY DWIANTO/PROJECT/DOCKER_HTDOCS/PD_DATA/shortlink-postgres:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: shortlink-redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    volumes:
      - D:/RIKYDWIANTO/002. RIKY DWIANTO/PROJECT/DOCKER_HTDOCS/PD_DATA/shortlink-redis:/data
